body {
	color: #808080;
	font-family: 'Open Sans', sans-serif;
}

h2 {

}

h3 {
	color: #0071bc;
	text-align: center;
}

footer {
	background-color: #0071bc;
	color: #ffffff;
}

/* CLASSES */


/* IDs */
#logo {
	padding: 5px;
}

/* MESSING WITH BOOTSTRAP CODE */

.nav-link {
	color: #ffffff;
	font-weight: bold;
}


/* FORM */

input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
   