body {
	color: #808080;
	font-family: 'Open Sans', sans-serif;
}

p {
	font-size: 22px;
}

h1 {
	color: #ffffff;
	font-size: 40px;
	font-weight: bold;
}

h2 {
	font-size: 28px;
	font-weight: bold;
}

h3 {
	font-size: 34px;
	color: #0071bc;
	text-align: center;
}

/* JUMBO */

.head {
	background-color: rgb(0, 0, 0, 0.5); padding-left: 1em; padding-right: 1em;
}


/* IDs & Classes */

.interior-imgs {
	width: 90%;}


/* Nav Bar */

.nav {
	margin: 0 auto;
}

.nav-link {
	color: #ffffff;
	font-weight: bold;
}

.nav-left {
	width: 75%;
	float: left;

}

.nav-right {
	width: 25%;
	float: right;
	text-align: center;
	margin-right: auto;
	margin-left: auto;
}

#logo {
	padding: 5px;
}

.navbar-light .navbar-toggler {
    color: rgba(0,0,0,.5);
    border-color: #0071bc; 
}

/* FORM */

#form {
  width: 60%; 
  margin: 0 auto 100px;
  color: #808080;
	font-family: 'Open Sans', sans-serif;
}

#fname {
	width: 48%;
}

#lname {
	width: 48%;
	float: right;
}

label {
	width: 100%;
  font-size: 22px;
	font-weight: bold;
}


input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 0px 0px 16px 0px;
    display: inline-block;
    background-color: #e6e6e6;
    border: 1px solid #b3b3b3;
    border-radius: 1px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 150px;
    background-color: #29abe2;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
}

textarea {
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    background-color: #e6e6e6;
    border: 1px solid #b3b3b3;
    border-radius: 1px;
    font-size: 16px;
    resize: none;
    color: grey;
}

/***********/
/* LAYOUT  */
/***********/

/* HEADER */
.header {
  height: 100%;
  width: 100%;
  /*background-color: blue;*/
}

/* JUMBO */
.jumbo {
  margin: 0 auto;
  height: 100%;
  width: 80%;
  /*background-color: yellow;*/
}

/* CONTENT */
.content {
  margin: 10px auto;
  width: 80%;
}

.content-left {
  float: left;
  margin: 10px auto;
  height: 100%;
  width: 50%;
}

.content-right {
  float: right;
  margin: 10px auto;
  height: 100%;
  width: 50%;
}

.content-text {
  float: left;
  margin: 0 auto;
  height: 100%;
  width: 50%;
}

.content-img {
  float: right;
  margin: 0px auto;
  padding: 0;
  height: 100%;
  width: 50%;
}

.content-button {
  margin: 10px auto;
  height: 100%;
  width: 150px;
/*  background-color: lightblue;*/
}

/* LOCATION */
.location {
  margin: 50px auto;
  height: 100%;
  width: 60%;/*
  background-color: green;*/
}

/* CONTACT */
.contact {
  margin: 20px auto;
  height: 100%;
  width: 80%;
/*  background-color: purple;*/
}

/* FOOTER */
footer {
  height: 100%;
  width: 100%;
  background-color: #0071bc;
}

.foot-left {
	display: inline-block;
	padding: 20px;
	width: 50%;
	height: 100%;
	color: #ffffff;
}

.foot-right {
	display: inline-block;
	padding: 20px;
	height: 100%;
	width: 50%;
	float: right;
	text-align: right;
}

@media only screen and (max-width: 1300px) {
	p {
		font-size: 18px;
	}
}

@media only screen and (max-width: 930px) {

	h2 {
		font-size: 22px;
	}

	label {
	  font-size: 22px;
		font-weight: bold;
	}

	.nav-left {
	width: 65%;

	}

	.nav-right {
		width: 35%;
	}

	.content-left {
    width: 50%;
    /*background-color: red;*/
  }

  .content-right {
    width: 50%;
    /*background-color: pink;*/
  }
  .content-text {
    width: 90%;
    /*background-color: grey;*/
  }

  .content-img {
    width: 100%;
    /*background-color: pink;*/
  }

  .contact {
	  width: 100%;
	}
}

@media only screen and (max-width: 600px) {

	h2 {
		font-size: 18px;
	}

	p {
		font-size: 16px;
	}

	body {
		text-align: center;
	}

	/* FORM */

	#form {
	  width: 85%; 
	  color: #808080;
	font-family: 'Open Sans', sans-serif;
	text-align: left;
	}

	label {
	  font-size: 18px;
	}


	input[type=text] {
	    width: 100%;
	    padding: 8px 18px;
	    margin: 0px 0px 14px 0px;
	    display: inline-block;
	    background-color: #e6e6e6;
	    border: 1px solid #b3b3b3;
	    border-radius: 1px;
	    box-sizing: border-box;
	}

	input[type=submit] {
	    width: 150px;
	    background-color: #29abe2;
	    color: white;
	    padding: 14px 20px;
	    margin: 8px 0;
	    border: none;
	    border-radius: 4px;
	    cursor: pointer;
	}
}

@media only screen and (max-width: 485px) {
	p {
		font-size: 12px;
	}

	h2 {
		font-size: 14px;
	}

	label {
	  font-size: 14px;
	}

/********************************************/
/* MAKING HEADER AND JUMBO SWITCH POSITIONS */
/********************************************/

  .header-jumbo {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    /* optional */
    -webkit-box-align: start;
    -moz-box-align: start;
    -ms-flex-align: start;
    -webkit-align-items: flex-start;
    align-items: flex-start;
  }

  .header-jumbo .header {
    -webkit-box-ordinal-group: 2;
    -moz-box-ordinal-group: 2;
    -ms-flex-order: 2;
    -webkit-order: 2;
    order: 2;
  }

  .header-jumbo .jumbo {
    -webkit-box-ordinal-group: 1;
    -moz-box-ordinal-group: 1;
    -ms-flex-order: 1;
    -webkit-order: 1;
    order: 1;
  }

/********************************************/
/* MAKING HEADER AND JUMBO SWITCH POSITIONS */
/********************************************/
  
  /* FORM */

	#form {
	  width: 95%; 
	  margin: 0 auto 75px;
	  color: #808080;
		font-family: 'Open Sans', sans-serif;
	}

	label {
	  font-size: 16px;
		font-weight: bold;
	}


	input[type=text] {
	    width: 100%;
	    padding: 4px 14px;
	    font-size: 12px;
	    margin: 0px 0px 10px 0px;
	    display: inline-block;
	    background-color: #e6e6e6;
	    border: 1px solid #b3b3b3;
	    border-radius: 1px;
	    box-sizing: border-box;
	}

	input[type=submit] {
	    width: 120px;
	    background-color: #29abe2;
	    color: white;
	    padding: 10px 15px;
	    margin: 8px 0;
	    border: none;
	    border-radius: 4px;
	    cursor: pointer;
	}

	textarea {
		font-size: 12px;
	}


.jumbo {
  width: 100%;
  /*background-color: yellow;*/
}

/* CONTENT */
.content {
  width: 90%;
}

.content-left {
  width: 50%;
}

.content-right {
  width: 50%;
}

.content-text {
  width: 90%;
}

.content-img {
  width: 100%;
}


/* LOCATION */
.location {
  width: 70%;/*
  background-color: green;*/
}

/* CONTACT */
.contact {
  width: 85%;
/*  background-color: purple;*/
}

}
   