body {
	color: #808080;
	font-family: 'Open Sans', sans-serif;
}

h2 {

}

h3 {
	color: #0071bc;
}

footer {
	background-color: #0071bc;
	color: #ffffff;
}

/* MESSING WITH BOOTSTRAP CODE */

.nav-link {
	color: #ffffff;
}